<section id="pestana-cargar-offline" class="contenedor-pestana">
    <h2>//PANEL PARA CARGAR RUTAS OFFLINE</h2>
    <p>Se usaran varios metodos tanto heuristico e IA para extraer datos como telefono, direccion, nombres, src, id</p>
    <p>Selecciona que cargaras:</p>

    <button class="card-btn" id="btn-cargar-ruta">
        <div class="card-header">
            <i class="fa-solid fa-microchip neon-icon"></i>
            <span class="card-title">RUTA</span>
        </div>
        <div class="data-display">Cargar PDF,TXT, EXCEL o Base de Datos</div>
    </button>

    <button class="card-btn" id="btn-cargar-paquete">
        <div class="card-header">
            <i class="fa-solid fa-microchip neon-icon"></i>
            <span class="card-title">PAQUETE</span>
        </div>
        <div class="data-display">Cargar desde Fotografia(Uso de IA) o manual</div>
    </button>
</section>
